.container {
  width: 100%;
  max-width: $viewport--xl;
  margin: 0 auto;
  padding: 0 35px;

  @include viewport--sm {
    padding: 0 16px;
  }

  &--no-padding {
    @include viewport--md {
      padding: 0;
    }
  }
}
